.books {
  padding: 2rem 0;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.books-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 1rem;
  flex: 1;
}

.loading {
  text-align: center;
  padding: 3rem;
  position: relative;
  grid-column: 1 / -1;
}

.loading::after {
  content: "";
  display: inline-block;
  width: 5rem;
  height: 5rem;
  border-top: 5px solid var(--text);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.error-message {
  text-align: center;
  padding: 3rem;
  color: var(--red);
  grid-column: 1 / -1;
}

.books__no-results {
  text-align: center;
  padding: 3rem;
  color: var(--text);
  grid-column: 1 / -1;
}

@media (max-width: 480px) {
  .books {
    flex-direction: column;
  }
}
